sagec/ConDB/Service References/svllamadas/llamadas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Servicios">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datos" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiciosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiciosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ServiciosSoapIn">
    <wsdl:part name="parameters" element="tns:Servicios" />
  </wsdl:message>
  <wsdl:message name="ServiciosSoapOut">
    <wsdl:part name="parameters" element="tns:ServiciosResponse" />
  </wsdl:message>
  <wsdl:portType name="llamadasSoap">
    <wsdl:operation name="Servicios">
      <wsdl:input message="tns:ServiciosSoapIn" />
      <wsdl:output message="tns:ServiciosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="llamadasSoap" type="tns:llamadasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Servicios">
      <soap:operation soapAction="http://tempuri.org/Servicios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="llamadasSoap12" type="tns:llamadasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Servicios">
      <soap12:operation soapAction="http://tempuri.org/Servicios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="llamadas">
    <wsdl:port name="llamadasSoap" binding="tns:llamadasSoap">
      <soap:address location="http://192.168.1.249/Reportes/llamadas.asmx" />
    </wsdl:port>
    <wsdl:port name="llamadasSoap12" binding="tns:llamadasSoap12">
      <soap12:address location="http://192.168.1.249/Reportes/llamadas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>